@using JazMax.Core.SystemHelpers
@{
    ViewBag.Title = "View";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#idActivity">
    Add Activity
</button>

<!-- Modal -->
<div class="modal fade" id="idActivity" tabindex="-1" role="dialog" aria-labelledby="idActivityLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="idActivityLabel">Add Lead Activity</h4>
            </div>
            <div class="modal-body">

                @Html.Label("Activity")     @Html.DropDownList("LeadActivityId", @JazMaxDropDownList.GetLeadActivityTypes(), new { @class = "foo" })
                <br />
                <div class="form-group">
                   
                    @Html.Label("Description")     @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })
                </div>

               @Html.Raw(JazMaxMvcExtensions.DrawPanel(new JazMaxPanel
           {
               isHidden = true,
               Message = "Please enter a description",
               PanelId = "errorDescription",
               PanelType = PanelType.Danger
           }))

                <button type="button" class="btn btn-success" onclick="CreateLeadActivity()">Add Activity</button>
                <button type="button" class="btn btn-primary" onclick="ResetForm()">Reset</button>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


