@model JazMax.Web.ViewModel.Leads.LeadCore

<div>
    <dl >
       
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeadTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadSourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadSourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadStatusName)
        </dd>

    </dl>
</div>
