@using JazMax.Web.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title></title>
    <link href="~/Content/Styles/logs.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div id="login-button">

    <img src="~/Content/login-w-icon.png" />
</div>

<div id="container">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <form>
            <div class="logo">
                <img src="~/Content/default-user.png" width="20" height="20" class="img-circle" />
            </div>


            <div class="usernameMove">
                @Html.TextBoxFor(m => m.Email, new { @class = "login", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="passwordmove">
                @Html.PasswordFor(m => m.Password, new { @class = "login", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>

            <input type="submit" value="Log in" class="btn btn-danger btnS" />

        </form>

    }
</div>
<script>
    $('#login-button').click(function () {
        $('#login-button').fadeOut("slow", function () {
            $("#container").fadeIn();
            TweenMax.from("#container", .4, { scale: 0, ease: Sine.easeInOut });
            TweenMax.to("#container", .4, { scale: 1, ease: Sine.easeInOut });
        });
    });
</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}