@model IEnumerable<JazMax.Web.ViewModel.PropertyManagement.PropertyPricingTypesView>

@{
    ViewBag.Title = "Index";
}



<br />
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#idPrice">
    Add New
</button>
<br />

<!-- Modal -->
<div class="modal fade" id="idPrice" tabindex="-1" role="dialog" aria-labelledby="idPriceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="idPriceLabel">Add New Property Feature</h4>
            </div>
            <div class="modal-body">

                Property Pricing Type:  @Html.Editor("txtTypeName", new { htmlAttributes = new { @class = "form-control" } })

                <br />
                <button type="button" class="btn btn-success" onclick="CreatePriceType()">Create</button>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<br />


<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">Property Pricing Types</div>
        <div class="panel-body">
            <table class="table">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.TypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.TypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
