@using JazMax.Core.SystemHelpers
@using JazMax.Web.Models

@{ 
    JazMaxIdentityHelper.UserName = User.Identity.Name;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JazMax CRM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.Partial("_PartialRef", null)
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
   
    
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JazMax CRM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*<div class="sidenav">
        <div class="container">
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Test", "Index", "Home")
            @Html.ActionLink("PlaceHolder", "Index", "Home")
            @Html.ActionLink("JustAnotherLlink", "Index", "Home")
            <button class="dropdown-btn">
                TestDrop Down
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                @Html.ActionLink("This", "Index", "Home")
                @Html.ActionLink("Is", "Index", "Home")
                @Html.ActionLink("A", "Index", "Home")
                @Html.ActionLink("MultiLevelDropDown", "Index", "Home")
                <button class="dropdown-btn">
                    Level2
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="#">Normal Link</a>
                    <a href="#">Normal Link 2</a>
                    <button class="dropdown-btn">
                        Dropdown Level 3
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-container">
                        @Html.ActionLink("You", "Index", "Home")
                        @Html.ActionLink("Can", "Index", "Home")
                        @Html.ActionLink("Go", "Index", "Home")
                        @Html.ActionLink("Crazy Now", "Index", "Home")
                    </div>
                    <a href="#">Link 3</a>
                </div>
                <a href="#">Just a normal link</a>
            </div>
            <a href="#contact">Search</a>
        </div>
    </div>*@
    <div>
        @*You are here : @Html.MvcSiteMap().SiteMapPath()*@
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>

<style>
    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }
</style>


