@model JazMax.Web.ViewModel.UserAccountView.BranchDetailsView
@using JazMax.Core.SystemHelpers;

@{
    ViewBag.Title = "Details";
    JazMaxIdentityHelper.UserName = User.Identity.Name;
}

<h2>@Model.CoreBranchView.BranchName</h2>
<hr />

@if (JazMaxIdentityHelper.IsUserInRole("PA,CEO"))
{
    <div class="btn-group btn-group-justified">
        <a href="#" id="show" class="btn btn-primary" value="Edit">Update</a>

    </div>
}

<div class="modal-body row">

    <div>
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Branch</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td width="30%">
                                <div>
                                    <hr />
                                    <dl>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CoreBranchView.BranchName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CoreBranchView.BranchName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CoreBranchView.Phone)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CoreBranchView.Phone)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CoreBranchView.EmailAddress)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CoreBranchView.EmailAddress)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CoreBranchView.StreetAddress)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CoreBranchView.StreetAddress)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CoreBranchView.City)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CoreBranchView.City)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CoreBranchView.Suburb)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CoreBranchView.Suburb)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CoreBranchView.TeamLeaderName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CoreBranchView.TeamLeaderName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CoreBranchView.ProvinceName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CoreBranchView.ProvinceName)
                                        </dd>

                                    </dl>
                                </div>


                            </td>
                            <td width="70%">
                                <div id="editTheDiv" hidden>
                                    @{
                                        Html.RenderAction("Update", "Branch", Model.CoreBranchView.BranchId);
                                    }
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="modal-body row">

    <div>
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Agents</div>
                <div class="panel-body">

                    @if (Model.AgentDetailsView.Any())
                    {

                        <table id="tblAgent" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">

                            <thead>


                                <tr>

                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Middle Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>

                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Cell Phone
                                    </th>
                                    <th>
                                        Email Address
                                    </th>



                                </tr>
                            </thead>
                            @foreach (var item in Model.AgentDetailsView)
                            {
                                <tr>

                                    <td>

                                        @Html.JazMaxUserDetails(item.FirstName, new { id = item.CoreUserId })
                                    </td>
                                    <td>

                                        @Html.JazMaxUserDetails(item.MiddleName, new { id = item.CoreUserId })
                                    </td>
                                    <td>

                                        @Html.JazMaxUserDetails(item.LastName, new { id = item.CoreUserId })
                                    </td>
                                    <td>

                                        @Html.JazMaxUserDetails(item.PhoneNumber, new { id = item.CoreUserId })
                                    </td>
                                    <td>

                                        @Html.JazMaxUserDetails(item.CellPhone, new { id = item.CoreUserId })
                                    </td>
                                    <td>

                                        @Html.JazMaxUserDetails(item.EmailAddress, new { id = item.CoreUserId })
                                    </td>
                                </tr>

                            }

                        </table>
                    }
                    else
                    {
                        <p>There are no agents assigned to this branch</p>
                    }


                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-body row">
    <div class="col-lg-offset-0">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Edit Log</div>
                <div class="panel-body">

                    @{
                        Html.RenderAction("GetLog", "Log", new { tableName = "CoreBranch", id = Model.CoreBranchView.BranchId });
                    }

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#tblAgent').DataTable();
</script>


<script>
    $("#show").click(function () {
        $("#editTheDiv").toggle();
    });
</script>
