@model IEnumerable<JazMax.Web.ViewModel.UserAccountView.CoreProvinceView>
@using JazMax.Core.SystemHelpers
@{
    ViewBag.Title = "Province";
}


<br />

<br />
<button type="button" id="myButton" class="btn btn-success" data-toggle="modal" data-target="#idProvince">
    Add New
</button>
<br />
@Html.Raw(JazMaxMvcExtensions.DrawPanel(new JazMaxPanel
{
    PanelId = "ErrorMessage2",
    isHidden = true,
    Message = "You can no longer add any provinces as there is alreday 9 active provinces.",
    PanelType = PanelType.Warning
}))

<!-- Modal -->
<div class="modal fade" id="idProvince" tabindex="-1" role="dialog" aria-labelledby="idProvinceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="idFeatureLabel">Add New Province</h4>
            </div>
            <div class="modal-body">

                Province:  @Html.Editor("txtProvince", new { htmlAttributes = new { @class = "form-control" } })
                <div id="errorProvince"></div>

                <br />
                <button type="button" class="btn btn-success" onclick="CreateProvince()">Create</button>  
                <button type="button" class="btn btn-primary" onclick="ResetForm()">Reset</button>
                <br />
                @Html.Raw(JazMaxMvcExtensions.DrawPanel(new JazMaxPanel
          {
              PanelId = "ErrorMessage",
              isHidden = true,
              Message = "Error, the following Province already exists",
              PanelType = PanelType.Danger
          }))

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<br />


<div>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Provinces</div>
            <div class="panel-body">

                <table id="proGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProvinceName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)


                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.JazMaxProvinceDetails(item.ProvinceName, new { id = item.ProvinceId })
                            </td>
                            <td>

                                @if ((bool)item.IsActive)
                                { <span class="glyphicon glyphicon-ok"></span> }
                                else
                                { <span class="glyphicon glyphicon-remove"></span> }
                            </td>

                        </tr>
                    }

                </table>
                <div>
                    <h6 id="active"></h6>
                    <h6 id="disabled"></h6>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('#proGrid').DataTable();
</script>

<script>

    function ResetForm()
    {
        $('#txtProvince').val(' ');
        $('#ErrorMessage').hide();
    }

    function CreateProvince() {

        var count = 0;
        if ($('#txtProvince').val() == '')
        {
            toastr.error('Please enter a province name');
            count++;
        }

        if (count == 0) {
            $.ajax({
                type: 'Post',
                dataType: 'Json',
                data:
                {
                    txtProvince: $('#txtProvince').val()
                },
                url: '/Province/CreateValue',
                success: function (da) {
                    if (da.Result == "Success") {

                        document.location.reload(true)
                    }
                    else if (da.Result == "Exists")
                    {
                        $('#ErrorMessage').show();
                    }
                    else {

                        alert('Error' + da.Message);
                    }
                },
                error: function (da) {

                    alert('Error');
                }
            });
        }
    }


</script>

<script>

 
    $(document).ready(function () {
        CheckButton();
        CountProvinces();
    });

    function CheckButton()
    {
        $.ajax({
            type: 'POST',
            dataType: 'Json',
            data: null,
            url: '/Province/CheckCount',
            success: function (da) {
                if (da.Result == "Success")
                {
                    $('#myButton').removeAttr("disabled");
                  
                }
                else if (da.Result == "Error")
                {
                    $('#ErrorMessage2').show();
                    $('#myButton').attr("disabled", true);
                }
            },
            error: function (da) {

                alert('Error');
            }
        });
    }

    //function CountProvinces() {
        
    //    $.ajax({
    //        type: 'POST',
    //        dataType: 'Json',
    //        data: null,
    //        url: '/Province/ProvinceCount',
    //        success: function (da) {
    //            if (da.Result == "Success") {
    //                debugger;
    //                var result = da.data;
    //                var result2 = da.data2;

    //                $('#active').html(da.Message1);
    //                $('#disabled').html(da.Message2);

    //            }
              
    //        },
    //        error: function (da) {

    //            alert('Error');
    //        }
        //});
    //}
</script>