@model JazMax.Web.ViewModel.UserAccountView.UserBranchDetails

@if (Model.HasResult)
{
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamLeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamLeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

    </dl>
</div>
}
else
{
    <p>No branch has been assigned to this user</p>
}

