@model JazMax.Web.ViewModel.UserAccountView.CoreUserView
@using JazMax.Core.SystemHelpers



<h2>Create User</h2>

<div id="createUserForm">

    <div class="form-horizontal">

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IDNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CellPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CellPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CellPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenderId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.GenderId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.GenderId, JazMaxDropDownList.GetGender(), htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CoreUserTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CoreUserTypeId, JazMaxDropDownList.GetUserTypes(), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CoreUserTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="hidPA" hidden>
            <div class="form-group">
                @Html.LabelFor(model => model.CapturePAView.provinceId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CapturePAView.provinceId, JazMaxDropDownList.GetProvinceNotAssigned(),htmlAttributes: new { @class = "form-control", id = "dropPro" })
                    @Html.ValidationMessageFor(model => model.CapturePAView.provinceId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="hidTeamLeader" hidden>
            <div class="form-group">
                @Html.LabelFor(model => model.CaptureTeamLeader.provinceId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CaptureTeamLeader.provinceId, JazMaxDropDownList.GetAllProvince(), htmlAttributes: new { @class = "form-control" })


                    @Html.ValidationMessageFor(model => model.CaptureTeamLeader.provinceId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="hidAgent" hidden>
            <div class="form-group">
                @Html.LabelFor(model => model.CaptureAgent.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="dropBranch"></div>
                    @Html.ValidationMessageFor(model => model.CaptureAgent.BranchId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="Save" type="button" class="btn btn-default" value="Save" onclick="save();" />
                <div id="loading">
                    <img src="~/Content/LoadCon.gif" id="myimage" width="50px" height="50px" hidden/>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

    $('#CoreUserTypeId').on('change', function () {
        $('#hidPA').hide();
        $('#hidTeamLeader').hide();
        $('#hidAgent').hide();

                        var value = $(this).val();

                        if (value == '5') {
            $('#hidPA').fadeIn();
            $("#hidPA").fadeIn("slow");
            $("#hidPA").fadeIn(3000);
                        }
                        else if (value == '3') {
            $('#hidTeamLeader').fadeIn();
            $("#hidTeamLeader").fadeIn("slow");
            $("#hidTeamLeader").fadeIn(3000);
                        }
                        else if (value == '4') {
            //Province!
            $('#hidTeamLeader').fadeIn();
            $("#hidTeamLeader").fadeIn("slow");
            $("#hidTeamLeader").fadeIn(3000);

            $('#hidAgent').fadeIn();
            $("#hidAgent").fadeIn("slow");
            $("#hidAgent").fadeIn(3000);


                        }
                    });

</script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#CaptureTeamLeader_provinceId').change(function () {

            $.ajax({
                                type: "post",
                url: "/User/GetBranchForProvince",
                data: { Id: $('#CaptureTeamLeader_provinceId').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var district = "<select id='ddlBranch' class='form-control'>";
                                    district = district + '<option value="" >--Select--</option>';
                                    for (var i = 0; i < data.length; i++) {
                                        district = district + '<option value=' + data[i].Id + '>' + data[i].BranchName + '</option>';
                                    }
                                    district = district + '</select>';
                    $('#dropBranch').html(district);
                                }
                            });
                        });
                    });
</script>

<script>
    function save() {

                        var count = 0;
                        if ($('#FirstName').val() == '') {
                            toastr.error('Please enter first name');
                            count++;
                        }

                        if ($('#LastName').val() == '') {
                            toastr.error('Please enter last name');
                            count++;
                        }
                        if ($('#PhoneNumber').val() == '') {
                            toastr.error('Please enter a phone number');
                            count++;
                        }
                        if ($('#IDNumber').val() == '') {
                            toastr.error('Please enter a valid Identity Number');
                            count++;
                        }
                        if ($('#CellPhone').val() == '') {
                            toastr.error('Please enter a valid cellphone Number');
                            count++;
                        }

                        var email = $('#EmailAddress').val();
                        var pattern = ".+\\@@.+\\..+";
                        var valid = email.match(pattern);
                        if (valid == null) {
                            toastr.error('Please enter a vaild email address');
                            count++;
                        }

                        if (count == 0) {

            $("#Save").attr("disabled", true);
            $('#myimage').show();
            $.ajax({
                                type: 'Post',
                dataType: 'Json',
                data: {
                                    FirstName: $('#FirstName').val(),
                    MiddleName: $('#MiddleName').val(),
                    LastName: $('#LastName').val(),
                    IDNumber: $('#IDNumber').val(),
                    PhoneNumber: $('#PhoneNumber').val(),
                    CellPhone: $('#CellPhone').val(),
                    EmailAddress: $('#EmailAddress').val(),
                    GenderId: $('#GenderId').val(),

                    CoreUserTypeId: $('#CoreUserTypeId').val(),
                    CapturePAView_provinceId: $('#CapturePAView_provinceId').val(),
                    CaptureTeamLeader_provinceId: $('#CaptureTeamLeader_provinceId').val(),
                    dropBranch: $('#ddlBranch').val(),



                },
                url: '@Url.Action("Save", "User")',
                success: function (da) {
                                    if (da.Result == "Success") {
                                        toastr.success('User saved!');
                        $('#FirstName').val(null);
                        $('#MiddleName').val(null);
                        $('#LastName').val(null);
                        $('#IDNumber').val(null);
                        $('#PhoneNumber').val(null);
                        $('#CellPhone').val(null);
                        $('#EmailAddress').val(null);
                        $('#GenderId').val(null);
                        $('#Save').removeAttr("disabled");
                        $('#myimage').hide();
                                    }
                                    else {

                                        alert('Error' + da.Message);
                                    }
                                },
                error: function (da) {
                                    alert('Error');
                                }
                            }

            );
                        }
                    }

</script>



@*TO DO: Add Validation!*@