@model IEnumerable<JazMax.Web.ViewModel.Documents.UploadView>


<table id="docss" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvinceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRecieved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentTo)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileNames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.BranchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceId)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.FileDescription)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRecieved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentTo)
        </td>
        <td>
            
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown">
                    Quick Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">

                    <li><a href="@Url.Action("Details", "Documents", new { id = item.FileUploadId })">Details</a></li>
                    <li><a href="@Url.Action("Archive", "Documents", new { id = item.FileUploadId })">Archive Document</a></li>
                    <li><a href="@Url.Action("Forward", "Documents", new { id = item.FileUploadId })">Forward Document</a></li>
                    <li><a href="@Url.Action("MarkAsRead", "Documents", new { id = item.FileUploadId })">Mark As Read</a></li>
                    <li><a href="@Url.Action("DownLoad", "Documents", new { id = item.FileUploadId })">Download Document</a></li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>

<script>
    $('#docss').DataTable();
</script>