@model IEnumerable<JazMax.Web.ViewModel.Documents.UploadView>

@{
    ViewBag.Title = "MyBranchDocuments";
}

<h2>MyBranchDocuments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileNames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoreUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoreFileTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentTo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileNames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoreUserId)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoreFileTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentTo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FileUploadId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FileUploadId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FileUploadId })
        </td>
    </tr>
}

</table>
