@model IEnumerable<JazMax.Web.ViewModel.Documents.UploadView>

<link href="~/Content/Docs.css" rel="stylesheet" />
<script src="~/Scripts/DocsJs.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<br/>
<br/>

<p>
    <button class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("CreateForUser","Documents")'"><i class="fa fa-plus"></i> Send Document</button>
</p>


    @foreach (var item in Model)
    {
        <div class="col-sm-2">
            <div class="row">
                <div class="drive-wrapper drive-grid-view">

                    <div class="grid-items-wrapper">
                        <div class="drive-item module text-center">
                            <div class="drive-item-inner module-inner">
                                <div class="drive-item-title" data-toggle="tooltip" data-placement="top" title="" data-original-title="@Html.DisplayFor(modelItem => item.FileNames)"><a href="#">@Html.DisplayFor(modelItem => item.FileNames)</a></div>
                                <div class="drive-item-thumb">
                                    <a href="@Url.Action("Details","Documents", new { id = item.FileUploadId})"><i class="fa fa-file-text-o text-primary"></i></a>
                                </div>
                            </div>
                            <div class="drive-item-footer module-footer">
                                <ul class="utilities list-inline">
                                    <li><a href="@Url.Action("DownLoad","Documents",new {  id=item.FileUploadId })" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download"><i class="fa fa-download"></i></a></li>
                                    <li><a href="@Url.Action("Forward", "Documents", new { id = item.FileUploadId})" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"><i class="fa fa-share"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }



            @*<div>
                    <div class="drive-item module text-center">
                        <div class="drive-item-inner module-inner">
                            <div class="drive-item-title"><a href="#">Meeting Notes.txt</a></div>
                            <div class="drive-item-thumb">
                                <a href="#"><i class="fa fa-file-text-o text-primary"></i></a>
                            </div>
                        </div>
                        <div class="drive-item-footer module-footer">
                            <ul class="utilities list-inline">
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download"><i class="fa fa-download"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@

            @*<div>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileNames)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SentTo)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.FileUploadId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.FileUploadId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.FileUploadId })
                        </td>
                    </tr>
                </div>*@
