@model JazMax.Web.ViewModel.Leads.Reports.LeadsByPropertyFilter
@using JazMax.Core.SystemHelpers
@{
    ViewBag.Title = "LeadsByProperty";
}

<br />
<br />
<div class="panel - group">
    <div class="col-md-0">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Leads By Property</h3></div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.LeadStatusId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.LeadStatusId, JazMaxDropDownList.GetLeadStatusTypes(), new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LeadStatusId, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.BranchId, JazMaxDropDownList.GetAllBranches(), new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.TextBoxFor(model => model.DateFrom, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.DateTo, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Search" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>



@if (Model.ShowReport)
{
    @Html.Partial("_LeadsByProperty", Model.Result)
}