@model JazMax.Web.ViewModel.PropertyManagement.PropertyTypeView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PropertyTypeView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropertyTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
